.menu-toggle {
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.menu-toggle .icon-cross {
    display: none;

}

.menu-toggle.js-open-menu .icon-cross {
    display: block;
}

.menu-toggle.js-open-menu .icon-menu {
    display: none;
}

.mobile-menu {
    display: none;
    padding: 20px;
    text-align: center;
    font-size: 20px;

    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        &.is-open {
            display: block;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.nav, .contacts {
    height: 40px;
    width: 50px;
}