
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 480px) {
        padding-left: 15px;
        padding-right: 15px;
        overflow-y: scroll;
    }

    
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    width: 528px;
    min-height: 581px;
    background-color: $whiteTextColor;
    position: absolute;
    padding: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 0;
    }
   
}

.modal__close-button {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 6px;
    margin-left: auto;
    top: 8px;
    right: 8px;
    background-color: $whiteTextColor;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.modal__close-icon {
    fill: $titleTextColor;
    width: 11px;
    height: 11px;
    position: absolute;

    .modal__close-button:hover & {
        fill: $accentColor;
    }
}

.form__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondaryTextColor;
    margin-bottom: 12px;
}

.form__field {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form__textarea {
    margin-bottom: 20px;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

}

.form__name {
    padding: 12px 12px 12px 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    transform: border;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: unset;
        border: 1px solid #2196F3;
        border-radius: 4px; 
    }

    .form__field:hover & {
        border: 1px solid #2196F3;
        border-radius: 4px;
    }
}

.form__tel {
    padding: 12px 12px 12px 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    transform: border;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: unset;
        border: 1px solid #2196F3;
        border-radius: 4px; 
    }

    .form__field:hover & {
        border: 1px solid #2196F3;
        border-radius: 4px;
    }
}

.form__email {
    padding: 12px 12px 12px 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    transform: border;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: unset;
        border: 1px solid #2196F3;
        border-radius: 4px; 
    }

    .form__field:hover & {
        border: 1px solid #2196F3;
        border-radius: 4px;
    }
}

.form__comment {
    margin-bottom: 20px;
    resize: none;
    width: 448px;
    height: 120px;
    padding: 15px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transform: border;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

    .form__textarea:hover & {
        fill: $accentColor;
    }
}

.form-comment:focus, .form-comment:hover {
    outline: unset;
    border: 1px solid #2196F3;
    border-radius: 4px;
}

.form__label {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $primaryTextColor;
}

.form__person {
    position: absolute;
    top: 65%;
    left: 15px;
    transform: translateY(-50%);
    display: inline-block;
    fill: $secondaryTextColor;
    transform: fill;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form__field:hover & {
        fill: $accentColor;
    }
}

.form__telephone {
    position: absolute;
    top: 65%;
    left: 15px;
    transform: translateY(-50%);
    display: inline-block;
    fill: $secondaryTextColor;
    transform: fill;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form__field:hover & {
        fill: $accentColor;
    }
}

.form__mail {
    position: absolute;
    top: 65%;
    left: 15px;
    transform: translateY(-50%);
    display: inline-block;
    fill: $secondaryTextColor;
    transform: fill;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form__field:hover & {
        fill: $accentColor;
    }
}

.terms {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.terms__checkbox {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: absolute;
}

.terms__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $primaryTextColor;
    margin-left: 8px; 
    display: flex;
    align-items: center;
}

.terms__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    background-image: url(../images/policy.svg);
    background-size: contain;
    margin-right: 8px;
}

.terms__checkbox:checked + .terms__icon {
    background-color: $accentColor;
    background-image: url(../images/icon\ check.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.terms__contract {
    color: $accentColor;
    margin-left: 6px;
}

.form-button {
    background: $accentColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin: 0 auto 0 auto;
    text-align: center;
    letter-spacing: 0.06em;
    color: $whiteTextColor;
    transform: background-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: #188CE8;
    }
}