
.page-footer {
    background-color: $footerBackgroundColor;
    padding-top: 60px;
    padding-bottom: 60px;
}

.page-footer__logo {
    display: inline-block;
    margin-bottom: 20px;
    color: $whiteTextColor;
    text-decoration: none;
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    @media screen and (max-width: 1199px) {
        font-size: 24px;
    }
}

.page-footer__accent {
    color: $accentColor;
    text-decoration: none;
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    @media screen and (max-width: 1199px) {
        font-size: 24px;
    }
}

.address__list {
    @extend %list;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    @media screen and (min-width: $tablet) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 0;
    }
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address_map {
    display: inline-block;
    text-decoration: none;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: $whiteTextColor;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        color: $accentColor;
    }
}

.address__email {
    text-decoration: none;
    color: inherit;
    margin-right: 0;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $footerColor;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        color: $accentColor;
    }
}

.address__tel {
    text-decoration: none;
    color: inherit;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $footerColor;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        color: $accentColor;
    }
}

.page-footer__container {

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: baseline;
    }
    
}

.page-footer__item {

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }

    @media screen and (max-width: 1199px) {
        text-align: center;
    }
        
}


.social-links {

    @media screen and (min-width: $desktop) {
        margin-left: 70px;
    }
    
}

.social-links__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $whiteTextColor;
    margin-bottom: 20px;
}

.instagram-link,
.twitter-link,
.facebook-link,
.linkedin-link {
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

.instagram-link:hover,
.twitter-link:hover,
.facebook-link:hover,
.linkedin-link:hover {
    background-color: $accentColor;
    color: $whiteTextColor;
}

.instagram-link:focus,
.twitter-link:focus,
.facebook-link:focus,
.linkedin-link:focus {
    background-color: $accentColor;
    color: $whiteTextColor;

}

.instagram-link,
.twitter-link,
.facebook-link {
    margin-right: 10px;
}

.instagram-link__icon,
.twitter-link__icon,
.facebook-link__icon,
.linkedin-link__icon {
    fill: $whiteTextColor;
}

.social-links__list {
    @extend %list;
    display: flex;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 1199px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0;
        padding: 0;
    }
}


.subscription {
    @media screen and (min-width: 1200px) {
        margin-left: auto;

    }
}

.subscription__data {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1199px) {
        flex-direction: column;
    }
}

.subscription__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $whiteTextColor;
    margin-bottom: 20px;
}

.subscription__input {
    padding: 15px;
    width: 358px;
    height: 50px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $footerBackgroundColor;
    color: rgba(255, 255, 255, 0.6);

    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
        margin-right: 0;
        width: 100%;
        max-width: 450px;
    }
}

.subscription__button {
    background: $accentColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $whiteTextColor;
}

.subscription__icon {
    fill: $whiteTextColor;
    margin-left: 10px;
}