
.team {
    background-color: $secondaryBackgroundColor;
    padding: 94px 0;

    @media screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.team__section {
    padding-left: 15px;
    padding-right: 15px;
}

.team__title {
    margin-top: 0;
    margin-bottom: 50px;
    color: $secondaryTextColor;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    @media screen and (max-width: 1199px) {
        margin-bottom: 30px;
        font-size: 28px;
        line-height: 33px;
    }
}

.team__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    
    margin: 0;
    padding: 0;

    @media screen and (min-width: $tablet) {
        gap: 30px;
    }
}

.team__item {
    width: 100%;
    background: $whiteTextColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) {
		flex-basis: calc((100% - 1 * 30px) / 2);
        
	}
	@media screen and (min-width: 1140px) {
		flex-basis: calc((100% - 3 * 30px) / 4);
	}
	&:not(:last-child) {
		@media screen and (max-width: 767px) {
			margin-bottom: 30px;
		}
    }
}

.employee {
    padding-top: 30px;
    padding-bottom: 30px;
}

.employee__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    @extend %list;
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 16px;
    padding: 0;
}


.employee__link {
    display:flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: $accentColor;
        color: $whiteTextColor;
    }
}

.employee__icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;

    .employee__link:hover &, .employee__link:focus & {
        fill: $whiteTextColor;
    }
}

.employee__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: $secondaryTextColor;
    margin-bottom: 10px;
}

.employee__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: $primaryTextColor;
}