$primaryTextColor: #757575;
$titleTextColor: #000000;
$secondaryTextColor: #212121;
$accentColor: #2196F3;
$whiteTextColor: #FFFFFF;
$secondaryBackgroundColor: #F5F4FA;
$secondaryAccentColor: #188CE8;
$footerBackgroundColor: #2F303A;
$examplesColor: #EEEEEE;
$footerColor: rgba(255, 255, 255, 0.6);
$mainFont: Roboto, sans-serif;
$secondaryFont: Raleway, sans-serif;

